@charset "utf-8";
body{
	background-color: white;
}
#wrap{
	width: 100%;
	min-width: 1130px;
	/*max-width: 1530px;*/
	background: #eee url("../images/mallbg1.jpg") top left/100% no-repeat;
}
#header{
	position: relative;
	z-index: 10;
	background-color: white;
}
#header .h-topbar{
	position: relative;
	z-index: 10;
	width: 100%;
	background-color: #f2f2f2;
}
.h-topbar .h-tb-box{
	width: 1230px;
	margin: 0 auto;
}
.h-tb-box li{
	float: left;
	line-height: 40px;
}
.h-tb-box .h-rg-nav li{
	position: relative;
	padding: 0 14px;
}
.h-tb-box .h-rg-nav i{
	font-size: 12px;
	line-height: 12px;
	color: red;
	padding: 0 2px;
}
.h-tb-box .h-rg-nav .down:after{
	position: absolute;
	top: 1.5em;
	right: 4px;
	content: "";
	width: 0;
	height: 0;
	border: 4px solid rgba(0,0,0,0);
	border-top-color: #999;
}
.h-tb-box .h-rg-nav .h-bor{
	border-left: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(0,0,0,0);
}
.h-tb-box .h-rg-nav .h-bor:hover{
	background-color: white;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.h-tb-box .h-rg-nav .h-bor:hover .h-item{
	display: block;
}
.h-rg-nav li .h-item{
	position: absolute;
	display: none;
	left: -1px;
	top:39px;
	z-index: -1;
	width: 100%;
	padding: 10px 14px;
	border: 1px solid #eee;
	line-height: 2.5em;
	background-color: white;
}
.h-rg-nav li:hover>a{
	color: red;
	text-decoration: underline;
}
.h-rg-nav .h-bor .h-item a:hover{
	color: red;
	text-decoration: underline;
}
.h-rg-nav .h-site-nav:hover .h-menu{
	display: block;
}
.h-rg-nav .h-site-nav .h-menu{
	position: absolute;
	display: none;
	right: -1px;
	top: 39px;
	z-index: -1;
	width: 1180px;
	padding: 30px 0;
	border: 1px solid #eee;
	background-color: white;
}
.h-site-nav .h-menu .h-m-item{
	padding: 0 30px;
	height: 220px;
	border-right: 1px dashed #eee;
}
.h-site-nav .h-menu .h-m-item h3{
	font-size: 16px;
}
.h-site-nav .h-menu .h-m-item li{
	float: none;
	padding: 0;
	line-height: 30px;
}
.h-site-nav .h-menu .h-m-item a{
	color: #999;
}
.h-site-nav .h-menu .h-m-item a:hover{
	color: black;
	/*text-decoration: underline;*/
}
/*头部主体区域*/
.h-content{
	position: relative;
}
.h-content .h-logo h1{
	position: relative;
	width: 290px;
	height: 130px;
	/*background-color: green;*/
	/*text-indent: -9px;*/
}
.h-content .h-logo img{
	position: absolute;
	left: -20%;
	top: 0;
	/*vertical-align: top;*/
	/*display: block;*/
}
.h-content .h-logo strong{
	position: absolute;
	top: -9999px;
	left: -9999px;
	z-index: -999;
}
.h-content .h-search{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 630px;
	height: 68px;
	margin: auto;
	font-size: 14px;
	background-color: white;
}
.h-content .h-search input{
	float: left;
	outline: none;
}
.h-content .h-search [type="text"]{
	height: 36px;
	width: 490px;
	text-indent: 1em;
	border: 2px solid #ff0036;
}
.h-content .h-search [type="submit"]{
	height: 40px;
	width: 136px;
	border: none;
	font-size: 18px;
	color: white;
	background-color: #ff0036;
}
.h-search .h-sub{
	line-height: 2em;
}
.h-search .h-sub a{
	color: #999;
	padding: 0 12px;
	border-right: 1px solid #999;
}
.h-search .h-sub .p0{
	padding-left: 0;
}
.h-search .h-sub .bor{
	border-right: none;
}
.h-search .h-sub .cred{
	color: red;
}
/***网页内容主体区域***/
#content{
	position: relative;
	z-index: 5;
	border-top: 1px solid #eee;
	/*background-color: #eee;*/
}
/*导航栏*/
.c-navbar{
	width: 1030px;
	margin-left: 200px;
	margin-bottom: 2px;
	background-color: white;
}
.c-navbar li{
	float: left;
	font-size: 16px;
	line-height: 2em;
}
.c-navbar li a{
	padding: 0 8px;
	color: #333; 
}

.c-banner{
	position: relative;
	z-index: 4;
	width: 100%;
	height: 500px;
}
.c-banner .bannerimg{
	width: 1230px;
	height: 500px;
}
/*修改分页器形状*/
.c-banner .page span{
	width: 40px;
	height: 6px;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
}
/*修改分页器背景色为白色*/
.c-banner .page .swiper-pagination-bullet{
	background-color: white;
}
/*轮播中的附属广告*/
.c-banner .cb-sub{
	position: absolute;
	right: 0;
	top: 0;
	width: 220px;
	height: 500px;
}
.c-banner .cb-sub a{
	display: block;
	margin: 10px 0;
	background-color: rgba(255,255,255,.7);
}
.c-banner .cb-sub img{
	width: 220px;
	height: 235px;
	vertical-align: bottom;
}
/*左侧导航*/
.c-navleft{
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 10;
	width: 200px;
	height: 532px;
	font-size: 14px;
	color: white;
	background-color: rgba(0,0,0,.5);
}
.c-navleft>ul{
	position: relative;
	top: 2px;
}
.c-navleft h2{
	font-weight: bold;
	line-height: 32px;
	text-indent: 2em;
	background-color:#c60a0a; 
}
.c-navleft .c-nav-menu{
	text-indent: 2em;
	line-height: 31.25px;
}
.c-navleft .c-nav-menu>i{
	color: #999;
	font-size: 18px;
	line-height: 1em;
	vertical-align: -4px;
}
.c-navleft .c-nav-menu>a{
	color: white;
	vertical-align: middle;
}
.c-navleft .c-nav-menu .c-nav-item{
	position: absolute;
	display: none;
	top: 0px;
	left: 200px;
	width: 850px;
	height: 500px;
	background-color: #fafafa;
}
.c-navleft .c-nav-item .c-ni-list{
	height: 470px;
	padding: 15px 29px 15px 0;
	background-color: white;
}
.c-navleft .c-nav-item .c-ni-list li{
	padding-top: 10px;
}
.c-navleft .c-nav-item .c-ni-list h3{
	width: 120px;
	/*text-align: center;*/
	text-indent: 2em;
	font-weight: bold;
	line-height: 1.5em;
	color: black;
}
.c-navleft .c-nav-item .c-ni-list p{
	width: 490px;
	text-indent: 0;
	line-height: 1.5em;
	border-bottom: 1px dashed #999;
	padding-bottom: 10px;
	word-break: keep-all;
}
.c-navleft .c-nav-item .c-ni-list a{
	margin: 0 6px;
	color: #666;
}
.c-navleft .c-nav-item .c-ni-list a.c-e47{
	color: #e54077;
}
.c-navleft .c-nav-item .c-ni-list a:hover{
	color: #e54077;
}
.c-navleft .c-nav-item .c-ni-brand{
	width: 191px;
	margin: 10px;
	/*background-color: white;*/
}
.c-navleft .c-ni-brand ul{
	width: 95px;
}
.c-navleft .c-ni-brand li{
	text-indent: 0;
	margin-bottom: 1px;
}
.c-navleft .c-ni-brand li img{
	display: block;
	width: 95px;
	height: 47px;
}
.c-navleft .c-ni-brand li a{
	display: block;
}
.c-navleft .c-ni-brand .c-ni-detail{
	width: 191px;
	height: 87px;
	margin-top: 9px;
	text-indent: 0;
	background-color: white;
}
.c-navleft .c-ni-brand .c-ni-detail a{
	display: block;
}
.c-navleft .c-ni-brand .c-ni-detail img{
	width: 191px;
	height: 87px;
}
.c-navleft .c-nav-menu:hover{
	background-color: white;
}
.c-navleft .c-nav-menu:hover .c-nav-item{
	display: block;
}
.c-navleft .bge47:hover>a{
	color: #e54077;
}
/**11活动区域**/
#content .c-activity-area{
	width: 100%;
	/*height: 330px;
	margin-top: 110px;*/ 
	/*background-color: pink;*/
}
.c-activity-area .c-a-tit{
	display: block;
	width: 100%;
	height: 105px;
	background: url("../images/NianHuoJie.png") center 70%/300px 65px no-repeat;
}
.c-activity-area .c-a-content{
	width: 610px;
	height: 330px;
	background-color: rgba(0,0,0,.5);
}
.c-activity-area .c-a-content .c-ac-item1{
	position: relative;
	/*display: block;浮动变块级*/
	width: 250px;
	height: 100%;
	text-align: center;
	background: url("../images/ac-item1-bg.png") no-repeat;
}
.c-activity-area .c-ac-item1 strong{
	padding-top: 32px;
	display: block;
	font-size: 24px;
} 
.c-activity-area .c-ac-item1 span{
	display: block;
	font-size: 18px;
}
.c-activity-area .c-ac-item1 .c-ac-pic{
	width: 180px;
	height: 180px;
	margin-top: 20px;
}
.c-activity-area .c-ac-decorate{
	position: absolute;
	top: 0;
	left: 0;
}
/*.c-activity-area .c-a-content .c-ac-item2,.c-activity-area .c-a-content .c-ac-item3{}*/
.c-activity-area .c-a-content .c-ac-item{
	position: relative;
	width: 350px;
	height: 160px;
	text-indent: 3em;
}
.c-activity-area .c-a-content .c-ac-item2{
	background: url("../images/ac-item2-bg.png") no-repeat;
}
.c-activity-area .c-a-content .c-ac-item3{
	background: url("../images/ac-item3-bg.png") no-repeat;
}
.c-activity-area .c-ac-item strong{
	display: block;
	font-size: 24px;
	padding-top: 28px;
}
.c-activity-area .c-ac-item span{
	display: block;
	font-size: 18px;
}
.c-activity-area .c-ac-item .c-ac-pic{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 130px;
	height: 130px;
}
/*品牌区域*/
#content .c-brand{
	width: 100%;
	margin-top: 20px;
}
.c-brand .c-b-item1{
	width: 240px;
	height: 100%;
	background-color: white;
}
.c-brand .c-b-item1 h3{
	background: url("../images/more.png") 210px/20px no-repeat;
}
.c-brand .c-b-item h3{
	text-indent: 10px;
	line-height: 55px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.c-brand .c-b-item h3 span{
	font-size: 14px;
}
.c-brand .c-b-item img{
	display: block;
}
.c-brand .c-b-item1 img{
	width: 240px;
	height: 330px;
}
.c-brand .c-b-item2{
	width: 485px;
	height: 100%;
	background-color: white;
}
.c-brand .c-b-item2 h3{
	background: url("../images/more.png") 455px/20px no-repeat;
}
.c-brand .c-b-item2 h3 i{
	margin-right: 30px;
	font-size: 14px;
	color: #666;
	font-weight: normal;
}
.c-brand .c-b-item2 img{
	width: 485px;
	height: 330px;
}
/*热门品牌*/
#content .c-hot-brand{
	width: 100%;
	margin-top: 15px;
}
.c-hot-brand li{
	float: left;
	width: 122px; 
	height: 108px;
	margin-right: 1px;
	margin-bottom: 1px;
	overflow: hidden;
	background: white url("../images/hotbrand1.webp") center no-repeat;
}
.c-hot-brand li.w123{
	width: 123px;
	margin-right: 0;
}
.c-hot-brand li.c-hb2{
	background: white url("../images/hotbrand2.webp") center no-repeat;
}
.c-hot-brand li.c-hb3{
	background: white url("../images/hotbrand3.webp") center no-repeat;
}
.c-hot-brand li:hover a{
	display: block;
}
.c-hot-brand li a{
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,.8);
}
.c-hot-brand li a i{
	margin-right: 1em;
	margin-top: 1em;
}
.c-hot-brand li .c-hb-info{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	height: 50px;
	margin: auto;
	text-align: center;
}
.c-hot-brand li .c-hb-info span{
	line-height: 30px;
}
.c-hot-brand li .c-hb-info .enter{
	height: 20px;
	background-color: red;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
/*主体内容部分*/
#content .c-main{
	
}
/*天猫超市*/
.c-main .c-m-section{
	height: 650px;
	margin-top: 30px;
	overflow: hidden;
}
.c-main .c-m-section .c-ms-header{
	height: 25px;
}
.c-m-section .c-ms-header h2{
	width: 214px;
	height: 25px;
}
.c-m-section1 .c-ms-header h2{
	background: url("../images/section1.png") top left/214px 25px no-repeat;
}
.c-m-section2 .c-ms-header h2{
	background: url("../images/section2.png") top left/214px 25px no-repeat;
}
.c-m-section3 .c-ms-header h2{
	font-size: 18px;
	line-height: 25px;
}
.c-m-section3 .c-ms-header h2 span{
	font-size: 14px;
}
.c-m-section3 .c-ms-header i{
	width: 5px;
	height: 18px;
	margin: 3.5px 20px 3.5px 0;
	background-color: #EA5F8D;
}
.c-m-section .c-ms-header li{
	float: left;
	height: 25px;
	margin: 0 10px;
}
.c-m-section .c-ms-header li a{
	font-size: 14px;
	line-height: 25px;
	color: black;
}
.c-m-section .c-ms-header li a:hover{
	text-decoration: underline;
}
.c-m-section .c-ms-content{
	margin-top: 10px;
}
.c-m-section1 .c-ms-content .c-ms-left{
	width: 238px;
	height: 615px;
}
.c-m-section1 .c-ms-content .c-ms-left img{
	width: 100%;
	height: 100%;
}
.c-m-section .c-ms-content .c-ms-list{
	width: 982px;
	/*background-color: skyblue;*/
}
.c-m-section .c-ms-content .c-ms-list li{
	float: left;
	width: 236px;
	height: 300.5px;
	border:1px solid rgba(0,0,0,0);
	text-align: center;
	background: white url("../images/activity.png") 170px bottom/58px 29px no-repeat;
}
.c-m-section .c-ms-content .c-ms-list li:hover{
	border-color: red;
}
.c-m-section .c-ms-content .c-ms-list a{
	display: block;
	width: 100%;
	height: 100%;
}
.c-m-section .c-ms-content .c-ms-list img{
	width: 185px;
	height: 185px;
}
.c-m-section .c-ms-content .c-ms-list p{
	width: 135px;
	height: 40px;
	margin: 10px auto;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.c-m-section .c-ms-content .c-ms-list span{
	font-size: 18px;
	color: #FF0036;
}
.c-m-section2 .c-ms-content .c-ms-left{
	width: 238px;
	height: 615px;
}
.c-m-section2 .c-ms-content .c-ms-left img{
	display: block;
	width: 238px;
	height: 302.5px;
}
.c-m-section3 .c-ms-content .c-ms-left{
	width: 238px;
	height: 615px;
}
.c-m-section3 .c-ms-content .c-ms-left img{
	width: 100%;
	height: 100%;
}
/*猜你喜欢*/
.c-main .c-m-guess .c-ms-header{
	text-align: center;
	font-size: 20px;
	line-height: 20px;
}
.c-main .c-m-guess .c-ms-header p{
	position: relative;
	display: inline-block;
}
.c-main .c-m-guess .c-ms-header i{
	color: red;
	font-size: 20px;
	vertical-align: 0px;
	padding: 0 4px;
}
.c-main .c-m-guess .c-ms-header p:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: -50px;
	margin: auto;
	width: 40px;
	height: 1px;
	background-color: #666;
}
.c-main .c-m-guess .c-ms-header p:before{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: -50px;
	margin: auto;
	width: 40px;
	height: 1px;
	background-color: #666;
}
/*右侧信息导航栏*/
#content .c-navbar-info{
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	background-color: black;
}
.c-navbar-info .c-ni-cen{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 35px;
	height: 340px;
}
.c-navbar-info a{
	position: relative;
	display: block;
	width: 100%;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
.c-navbar-info .c-ni-cen a{
	margin: 8px 0;
}
.c-navbar-info .c-ni-cen a div{
	display: none;
	z-index: 150;
	position: absolute;
	right: 60px;
	top: 0;
	width: 80px;
	height: 100%;
	line-height: 30px;
	font-size: 12px;
	opacity: 0;
	background-color: #494949;
	/*transition: right 0.5s,opacity 1s;*/
}
/*.c-navbar-info .c-ni-cen a div span{
	visibility: hidden;
	width: 0;
	transition: width 0.1s;
}*/
.c-navbar-info .c-ni-cen a div:after{
	position: absolute;
	top: 9px;
	left: 100%;
	display: block;
	content: "";
	border: 6px solid rgba(0,0,0,0);
	border-left-color: #494949;
}
.c-navbar-info a:hover{
	background-color: #ff0036;
}
/*.c-navbar-info a:hover div{
	right: 35px;
	opacity: 1;
}*/
/*.c-navbar-info a:hover div span{
	visibility: visible;
	width: auto;
}*/
.c-navbar-info .c-ni-car{
	position: relative;
}
.c-navbar-info .c-ni-car:before{
	position: absolute;
	content: "";
	top: -1px;
	left: 0;
	right: 0;
	margin: auto;
	width: 25px;
	height: 1px;
	background-color: #333;
}
.c-navbar-info .c-ni-car:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: -1px;
	margin: auto;
	width: 25px;
	height: 1px;
	background-color: #333;
}
.c-navbar-info .c-ni-car span{
	display: block;
	padding: 1em 0;
	width: 12px;
	font-size: 12px;
	margin: 0 auto;
}
.c-navbar-info .c-ni-btm{
	position: absolute;
	width: 35px;
	bottom: 0;
	right: 0;
}
/*左侧信息导航栏*/
#content .c-navbar-left{
	display: block;
	position: fixed;
	left: 50%;
	bottom: 200px;
	margin-left: -670px;
	width: 0;
	height: 0;
	font-size: 12px;
	line-height: 12px;
	background-color: white;
	transition: width 0.6s,height 0.6s;
	overflow: hidden;
}
.c-navbar-left .c-nl-tit{
	width: 24px;
	height: 12px;
	padding: 12px 6px;
	color: white;
	background-color: red;
}
.c-navbar-left .c-nl-item a{
	display: block;
	width: 24px;
	height: 24px;
	padding: 6px;
	margin-top: 1px;
	color: white;
	background-color: rgba(0,0,0,.6);
	text-align: center;
}
.c-navbar-left .c-nl-item a i{
	font-size: 18px;
	line-height: 12px;
	vertical-align: top;
}
.c-navbar-left .c-nl-item .c-nil-top{
	background-color: rgba(0,0,0,.4);
}
/*页面底部区域*/
#footer{
	width: 100%;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	background-color: white;
}
#footer .tmall-ensure{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	padding: 25px 0;
	background: url("../images/btm1.png") center/100% no-repeat;
}
#footer .tmall-ensure a{
	display: block;
	float: left;
	width: 300px;
	height: 100px;
}
#footer .tmall-desc{
	width: 1200px;
	height: 190px;
	padding-top: 20px;
	margin: 0 auto;
	border-top: 1px solid #ededed;
	background: url("../images/foot-tmall.png") 50px bottom/68px 25px no-repeat;
}
.tmall-desc dl{
	width: 190px;
	font-size: 12px;
	padding-left: 50px;
}
.tmall-desc dl dt{
	font-size: 16px;
	line-height: 30px;
}
.tmall-desc dl dd a{
	display: block;
	line-height: 18px;
	color: #8b8b8b;
}
.tmall-copyright{
	width: 100%;
	min-height: 180px;
	border-top: 2px solid #ff0036;
	background-color: #000;
}
.tmall-copyright .tc-content{
	width: 1200px;
	height: 180px;
	margin: 0 auto;
	/*background-color: skyblue;*/
}
.tmall-copyright .tc-content p{
	line-height: 25px;
	padding: 5px 0;
}
.tmall-copyright .tc-content a{
	margin-right: 3px;
	color: white;
}
.tmall-copyright .tc-content .tcc-end{
	line-height: 25px;
	color: #a4a4a4;
}
.tmall-copyright .tc-content .tcc-end a{
	margin-right: 50px;
	color: #a4a4a4;
}
.tmall-copyright .tc-content .tcc-end a:hover{
	text-decoration: underline;
}
.tmall-copyright .tc-content .tcc-end a img{
	vertical-align: middle;
	margin-right: 5px;
}
.tmall-copyright .tc-content .tcc-end b{
	display: block;
	color: #686868;
}
